<div class="opendysfont">

<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">DSLX</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if logged_in? %>
        <li><a href="/logout"><i class="material-icons left">exit_to_app</i>Logout</a></li>
      <% else %>
        <li><a href="/users/new"><i class="material-icons left">favorite</i>Sign Up</a></li>
        <li><a class="modal-trigger" href="#modal"><i class="material-icons left">person</i>Login</a></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <% if logged_in? %>
        <li><a href="/logout"><i class="material-icons left">exit_to_app</i>Logout</a></li>
      <% else %>
        <li><a href="/users/new"><i class="material-icons left">favorite</i>Sign Up</a></li>
        <li><a class="modal-trigger" href="#modal"><i class="material-icons left">person</i>Login</a></li>
      <% end %>
    </ul>
  </div>
</nav>

<!-- Modal Structure -->
<div id="modal" class="modal">
 <form class="col s6 offset-s6" action="/login" method="post">
  <div class="modal-content">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <div class="row">
         <div class="input-field col s12">
           <input id="email" type="email" name="email" class="validate">
           <label for="email">Email</label>
         </div>
      </div>

      <div class="row">
         <div class="input-field col s12">
           <input id="password" type="password" name="password" class="validate">
           <label for="password">Password</label>
         </div>
      </div>

      <div class="row">
         <div class="input-field col s12">
           <button class=" modal-action modal-close waves-effect waves-green btn">LOGIN</button>
         </div>
     </div>
   </div>
 </form>
</div>

<div class="landing">
<div class="row" padding="80px 20px 20px 20px">


<div class="row">

 <div class="grid-example col s12 m6"><span class="flow-text">
   <div class="maintext">
   <%= link_to image_tag("greny.png") %>
<br><br>
   <span class="highlight">A Dyslexic-friendly web converter, making reading easier for over 700 million people worldwide.</span><br><br>
  <a href="/users/new" class="waves-effect waves-light btn-large #2196f3 blue"><i class="material-icons left">favorite</i>Sign up for DSLX today!</a></div>
</span></div>

<div class="grid-example col s12 m6"><span class="flow-text">
  <div class="image">
   <%= link_to image_tag("desktop.png") %>
 </div>
 </div>

</div>
</div>
