.brand-logo {
  margin-left:15px;
}

#sign-up-form {
  margin-top:70px;
  font-size: 25px;
  color: #222222;
}

.nav-wrapper {
  color: #00a2ff;


  i {
    font-size:40px !important;
  }

}

#signuphead{

  width: 60%;
  margin: 0 auto;
  font-size: 35px;
  text-align: center;

}
.imgimg {
  width: 300px;
  margin: 0 auto;
}
