
* {
  // font-family: OpenDyslexic, Arial, sans-serif;

}



body {
    // font-family: OpenDyslexic, "Raleway", "Muli", Arial, sans-serif;
     font-size: 20px;
     color: #222222;
     background-color: #FFFFFF;
   }

   .opendysfont {
     font-family: OpenDyslexic;
   }
   span.opendysfont {
     font-family: OpenDyslexic;
   }

.blue-bg {
  background-color: #00a8ff;
  height: 100vh;
  margin:0;
}

#mobile-demo {
  color: black;
}



.maintext {
 width: 90%;
 color: #222222;
 margin: 0 auto;
 padding: 50px 20px 20px 20px;
 text-align: center;

}

.image {
  width: 90%;
}



.welcome {
 font-family: "Raleway", "Muli", Arial, sans-serif;
 text-decoration: none;
 font-size: 60px;
}






.newcomer {

display: inline-block;
background-color: transparent;
border: 1px solid #FFFFFF;
width: 200px;
height: 100px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
text-decoration: none;
margin: 5px;
}

.newcomer a:link, a:visited {
display: inline;
background-color: transparent;
border: 1px solid #FFFFFF;
color: #ffffff;
width: 200px;
height: 100px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
text-decoration: none;
margin: 5px;

}

span.highlight {
    background-color: #E8BBFF;

  }

  .row {

    padding-top: 30px;
  }

  .input-field {

    input {
      font-size: 25px;
      font-color: #D450FF;
    }

    label {
      font-size: 25px !important;
        font-color: #D450FF;
    }
  }

.row {
  button {
    margin: auto;
  }
}


.input-field label {
  color: #D450FF;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #D450FF;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #D450FF;
  box-shadow: 0 1px 0 0 #D450FF;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #D450FF;
  box-shadow: 0 1px 0 0 #D450FF;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #D450FF;
  box-shadow: 0 1px 0 0 #D450FF;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #D450FF;
}

.input-field input[type=password].invalid {
  border-bottom: 1px solid #D450FF;
  box-shadow: 0 1px 0 0 #D450FF;
}

  .input-field input[type=email].invalid {
    border-bottom: 1px solid #D450FF;
    box-shadow: 0 1px 0 0 #D450FF;
  }
