span.formtext {
  font-family: Raleway;
  font-size: 30px;
  background-color: #FFCCCC;
}

.boxes {
  height: 250px;
  border:10px solid white;
  text-align:center;
  padding:0;
}

#color-bg {
  padding-top:0;
}

#font-size, #font-type, #font-color, #line-space, #text-space, #buttons {
  display:none;
}

#buttons {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
}

.ft {
  p {
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fs {
  p {
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fc {
  p {
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ls {
  p {
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ts {
  p {
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#green {
  background-color: #E9FFC2;
}

#pink {
  background-color:#FFD9E8;
}

#blue {
  background-color:#CAF4FF;
}

#yellow {
  background-color:#FFFCD4;
}

#brown {
  color: #6B3434;
}

#navy {
  color: #0022C9;
}

#lightg {
  color: #1D6B00;
}

#black {
  color:black;
}

#small {
  font-size:small;
}

#medium {
  font-size:medium;
}

#x-large {
  font-size: x-large;
}

#large {
  font-size:large;
}

#OpenDyslexic {
  font-family: OpenDyslexic;
}

#cursive {
  font-family: cursive;
}

#times {
  font-family: times;
}

#small-line {
  line-height: 1;
}

#medium-line {
  line-height: 1.5;
}

#large-line {
  line-height: 2;
}

#x-large-line {
  line-height: 2.5;
}

#small-text {
  letter-spacing:2px;
}

#medium-text {
  letter-spacing:3px;
}

#large-text {
  letter-spacing:4px;
}

#x-large-text {
  letter-spacing:5px;
}

.thankyou {
  width: 300px;
}

span.thanks {
  font-family: OpenDyslexic;
  font-size: 30px;
  margin: 0 auto;
}

span.download {
  font-size: 20px;
  margin-top: 2px;
  font-family: OpenDyslexic;
}

.content-page {
  height: 100vh;
}
