<!DOCTYPE html>
<html>

  <head>

<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="/app/assets/stylesheets/stylez.css">

        <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <title>DSLX</title>



      <style>

      body {

      font-family: "Raleway", "Muli", Arial, sans-serif;
      font-size: 20px;
      background-color: #00AEF2;
      color: #FFFFFF;
      background-image: url("cooolerbluepic.png");
      background-size: 100%;
      background-repeat: none;
      display: block;
  }

 .maintext {
  	width: 30%;
  	margin-top: 80px;
    margin-left: 120px;
  	padding-top: 2%;
  	text-align: center;
    float: left;
  }


  .welcome {
  	font-family: "Raleway", "Muli", Arial, sans-serif;
  	text-decoration: none;
  	font-size: 60px;
  }




.newcomer {

  display: inline-block;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  width: 200px;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  margin: 5px;
}

 .newcomer a:link, a:visited {
  display: inline;
  background-color: transparent;
  border: 1px solid #FFFFFF;
   color: #ffffff;
  width: 200px;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  margin: 5px;

 }

.newcomer:hover{
  display: inline-block;
  background-color: #19C600;
  color: #ffffff;
   width: 200px;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  margin: 5px;
 }



.local {


  display: inline-block;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  width: 200px;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  margin: 5px;
}

 .local a:link, a:visited {
  display: inline;
  background-color: transparent;
  border: 1px solid #FFFFFF;
   color: #ffffff;
  width: 200px;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  margin: 5px;

 }

.local:hover{
  display: inline-block;
  background-color: #0075EA;
  color: #ffffff;
  width: 200px;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  margin: 5px;
 }

.tell {
	font-size: 14px;
}

}



  </style>
</head>
<body>

  <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>

 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">DSLX</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>



	<div class="maintext">
		<img src="designs/logo.png" width="500"><br>
		<p>We are a Dyslexic-friendly web converter and we love you very much!</p><br>
  </div>



  </html>
