<!DOCTYPE html>
<html>
<head>

<title>DSLX - one stop for everything!</title>

<LINK REL="StyleSheet" HREF="app/assets/stylesheets/stylez.css" TYPE="text/css" MEDIA="screen">

<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


</head>




<body>

<div class="maintext">
		<div class="welcome">____</div><br>
		<p>Are you new to Australia, or want to welcome someone to the country? </p><BR>

				<a href="banner.html"><div class="newcomer">Newcomer<br>
		<br><div class="tell"><p>Tell us what you need.</p></div>
		</div></a>

		<a href="banner.html"><div class="local">Guide<br>
		<br><div class="tell"><p>Tell us what you know.</p></div></div></a>
  </body>
  </html>
